body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: #38bdf8;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result-card {
    background: #111827;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

textarea {
    height: 120px;
}

button {
    width: 100%;
    padding: 15px;
    background: #22c55e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

pre {
    white-space: pre-wrap;
    font-size: 15px;
}